ignore-scripts=true
node-linker=hoisted

public-hoist-pattern[]=*types*
public-hoist-pattern[]=*@types*
public-hoist-pattern[]=*@storybook*
public-hoist-pattern[]=*@apollo/client*
public-hoist-pattern[]=*@emotion*
public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*babel-*
public-hoist-pattern[]=*eslint-plugin-*

